<div class="app-view" *ngIf="angular2TokenService.userSignedIn()">
  <mat-sidenav-container style="height: 100%; overflow-y: scroll">
    <mat-sidenav
      #sidenav
      opened
      mode="side"
      style="width: 15vw"
      class="mat-elevation-z10"
    >
      <mat-nav-list
        fxLayout="column"
        fxLayoutAlign="space-between"
        style="height: 100%"
      >
        <div>
          <a mat-list-item routerLink="/homepage">
            <mat-icon>home</mat-icon><span style="margin-left: 5px">Home</span>
          </a>
          <a mat-list-item routerLink="/add-student">
            <mat-icon>person_add</mat-icon
            ><span style="margin-left: 5px">Add Student</span>
          </a>
          <a mat-list-item routerLink="/students-report">
            <mat-icon>people_alt</mat-icon
            ><span style="margin-left: 5px">View Students</span>
          </a>
        </div>
        <a mat-list-item (click)="authService.logOut()" style="bottom: 1vh">
          <mat-icon>exit_to_app</mat-icon
          ><span style="margin-left: 5px">Logout</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="width: 85vw">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div *ngIf="!authService.isLoggedIn()">
  <app-login></app-login>
</div>
