.main-div {
    height: 100vh;
    width: 85vw;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-table {
    height: 75vh;
    width: 70vw;
    overflow-x: scroll;
    white-space: nowrap;
}

.mat-header-cell {
    padding: 10px;
}

.mat-cell {
    padding: 10px;
}

.date {
    text-transform: uppercase;
}