<div class="main-div">
    <mat-card class="mat-elevation-z8 form-card">
        <div fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field appearance="legacy" style="width: 25vw;">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="" [(ngModel)]="email" (keyup.enter)="onSubmit()"/>
            </mat-form-field>
            <mat-form-field appearance="legacy" style="width: 25vw;">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="" [(ngModel)]="password" (keyup.enter)="onSubmit()"/>
            </mat-form-field>
            <div *ngIf="incorrectAttempt">
                <span style="color: red;">Incorrect username and/or password</span>
            </div>
            <button mat-raised-button (click)="onSubmit()" color="primary" style="width: 10vw; margin: 10px;">
                Log In
            </button>
        </div>
    </mat-card>
</div>