.main-div {
  height: 100vh;
  width: 100vw;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  height: 40vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.logo {
  width: 8vw;
  height: auto;
  margin: 15px;
}
